.genrate-imge-wrapper{
  span{
    color: rgb(218, 218, 218);
    font-size: 18px;
    font-weight: 600;
  }
}

// .card {
//   background: var(--surface-card);
//   padding: 2rem;
//   border-radius: 10px;
//   margin-bottom: 1rem;
// }

.version{
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.flex{
  display: flex;
}

