<div class="login-container">
    <div class="box-container">
        <div class="video-box elIKyV">
            <!-- Video Placeholder -->
            <div class="video-data">
                <!-- You can add your video placeholder here -->
                <video width="100%" height="100%" controls autoplay muted loop class="video-placeholder">
                    <source src="./assets/video/welcome-looping-v1.webm" type="video/webm">
                    <source src="./assets/video/welcome-looping-v1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-overlay text-center">
                <h1>ColorCanvas.AI</h1>
                <p>All the tools you require to craft any visual you desire. Utilize numerous creative features to brainstorm, create, and refine images in ways you've never imagined before</p>
            </div>
        </div>
        <div class="login-form">
            <div class="login-header text-center pt-3">
                <h2>Welcome to ColorCanvas.AI</h2>
                <p>Don't have an account? <a [routerLink]="['/signup']"  class="signup-btn">Sign up for free</a></p>
            </div>
            <!-- Login Form -->
            <div class="login-box">
                <form class="form-signin" action="" method="post">
                    <div class="form-group">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email id">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password">
                    </div>
                    <!-- <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div> -->
                    <div class="d-grid">
                        <button [routerLink]="['/generate']" type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="form-group mt-2">
                        <a href="#" class=" forgot-password">Forgot password?</a>
                    </div>
                    <hr>
                    <div class="form-group mb-2 btn-google">
                        <button  [routerLink]="['/generate']" type="button" class="btn btn-danger w-100"><i class="fab fa-google"></i>Login with Gmail</button>
                    </div>
                    <div class="form-group">
                        <button  [routerLink]="['/generate']" type="button" class="btn btn-primary w-100 btn-facebook"><i class="fab fa-facebook"></i>Login with Facebook</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
