<app-header></app-header>
    <!--Header Section-->
    <!-- <header class="p-3 mb-0 header-bg navigation-bar">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none brand">
                    <span>ColorCanvas.AI</span>
                </a>

                <ul class="nav  mb-2 justify-content-end mb-md-0">
                    <li class="nav-item"><a href="#" class="nav-link px-2">Overview</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 ">Products</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2">Dashboard</a></li>
                </ul>

                <div class="dropdown text-end ms-2">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="#">Buy More Credits</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header> -->
    <!---->

    <main>
        <div class="wrapper">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div
                            class="card bg-transparent border-0 text-white buy-more-credit-wrapper align-items-center justify-content-center text-center">
                            <div class="card-body text-white">
                                <h1 class="heading-title">Buy More Credits</h1>
                                <p class="text-info">1 credit allows you to generate 1 artworks. While using purchased
                                    credits, ads are removed.<br> You can look at our subscription plans to get
                                    discounted packages up to %50 off.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-80 plan-card-wrapper text-white mb-3 align-content-center justify-content-center">
                    <div class="row mb-3 text-center w-100">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm bg-dark text-white">
                                <div class="card-header py-3 ">
                                    <h4 class="my-0 fw-normal">Free </h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title fw-bolder">10 Credits</h1>
                                    <p>5 artworks results</p>
                                    <hr>
                                    <h1 class="card-title pricing-card-title fw-bolder">$0</h1>
                                    <p>$0/credit</p>
                                    <hr>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Purchase Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary text-white">
                                <div class="card-header py-3 border-primary">
                                    <button class="btn btn-primary mb-2">Most Popular</button>
                                    <h4 class="my-0 fw-normal">Basic</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title fw-bolder">100 Credits</h1>
                                    <p>600 artworks results</p>
                                    <hr>
                                    <h1 class="card-title pricing-card-title fw-bolder">$29</h1>
                                    <p>$0.03/credit</p>
                                    <hr>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Purchase Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm bg-dark text-white">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Pro</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title fw-bolder">200 Credits</h1>
                                    <p>600 artworks results</p>
                                    <hr>
                                    <h1 class="card-title pricing-card-title fw-bolder">$39</h1>
                                    <p>$0.03/credit</p>
                                    <hr>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Purchase Now</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer-container text-center justify-content-center">
            <p class="mb-0 text-white p-3">Copyright © 2024
            </p>
        </footer>
        <!-- </div> -->
    </main>
