<app-header [hidden]="isLoginPage || isSignUpPage || ispricingPage || isDashboardPage"></app-header>
<main>
    <div class="wrapper" >
        <app-sidebar [ngClass]="{'light_theme': isGeneratePage}" [hidden]="isLoginPage || isDashboardPage || isProfilePage || isSignUpPage || isLandingPage || ispricingPage"></app-sidebar>
        <router-outlet>
        </router-outlet>
    </div>
    <app-footer  [hidden]="isLoginPage || isSignUpPage || ispricingPage || isDashboardPage || isProfilePage"></app-footer>
</main>
