.sidebar {

    padding: 20px; /* Padding inside the sidebar */
    border-right: 1px solid #474747;
    width: 320px;
}

.sidebar .card .form-select{
    border: 1px solid #474747;
    font-size: 14px;
    color: #dedede;
    /* background: #2e2c2c url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="%23ffffff" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"/></svg>'); */
    background-repeat: no-repeat;
    right: 0;

}

.sidebar .card .specify-area{
    border: 1px solid #474747;
    font-size: 14px;
    border-radius: 6px;
    padding: 0 10px;
    background: transparent;
    color: #fefefe;
}

.sidebar .accordion .card .card-header{
    background-color: #2d2c2c;
    padding: 5px 15px;
    border-bottom: 1px solid #474747;
    color: #fff;

}

.sidebar .accordion .card .card-header h2{
    line-height: 0;
}

.sidebar .accordion .card .card-header .btn-link{
    text-decoration: unset;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    padding: 0;
    position: relative;
}

.sidebar .accordion .card .card-header .btn-link::after{
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 16%;
}

.sidebar .accordion .generate-textarea {
    width: 100%;
    border: 1px solid #474747;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    transition: height 1s ease-in-out;
    height: 150px;
    background: transparent;
}

.sidebar .accordion .generate-textarea:focus {
    border: 1px solid #6c6c6c;
    border-radius: 4px;
    transition: height 1s ease-in-out;
    height: 400px;
    background: #000000;
    color: #878787;
}

.hideArrow::after{
  display: none !important;
}

.form-label{
  font-size: 14px !important;
}

.card-body{
  padding: 7px 10px 7px 10px !important;
}

.generate-card{
  margin-bottom: 0px !important;
}

.description_card{
  padding-bottom: 0px !important;
}
