
   

   <section class="hero-section">
    <div class="overlay"></div>
    <div class="row align-items-center justify-content p-5">
        <div class="hero-text col-md-6 text-left">
            <h1>Increase profits and efficiency with our AI text to image generator</h1>
            <p>This is the best place to find what you're looking for.</p>
        </div>

        <div class="hero-img col-md-6">
            <img src="../../assets/img/home-about.png" class="img-fluid">
        </div>
    </div>
</section>


<section class="bg-one" id="what-we-do">
    <div class="container">

        <div class="row featurette align-items-center justify-content-center">
            <div class="col-md-12 text-center py-5">
                <h2 class="featurette-heading fw-normal text-white pt-4">Unleash the Potential of Al Development<br>
                    Tools Crafted with Brilliance, Style, Quality, and Creativity</h2>

            </div>
        </div>

        <div class="row py-3">
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="ai-image">
                    <img src="../../assets/img/img-6.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="ai-image">
                    <img src="../../assets/img/img-7.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="ai-image">
                    <img src="../../assets/img/img-4.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="ai-image">
                    <img src="../../assets/img/img-3.jpg" class="img-fluid">
                </div>
            </div>


            <div class="col-md-12 py-3 text-center">
                <a class="btn btn-primary" href="#">Try Text To Image</a>
            </div>


        </div>

    </div>

</section>



<div class="container marketing our-services text-white">
    <!-- Three columns of text below the carousel -->
    <div class="row py-5">
        <div class="col-lg-12 py-3">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <h6 class="small-heading-title">Best for user</h6>
                <h2 class="heading-title">Our Services</h2>

            </div>
        </div>
        <div class="col-lg-3 our-services">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Image Generator</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                first column.</p>
            <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 our-services">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Creative Tools</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                column.</p>
            <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 our-services">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Design Generator</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 our-services">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Excellent Support</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette d-flex align-items-center justify-content-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Architecting the Digital Future</h2>
            <p class="lead">Architecting the digital future, a boundless canvas of innovation unfolds,
                Where bytes and pixels merge, shaping landscapes yet untold.
                With algorithms as our blueprints, and data streams our clay,
                We craft tomorrow's world in the digital domain's vast array</p>
        </div>
        <div class="col-md-5">
            <img src="../../assets/img/blog-img-1.jpg" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-center justify-content-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Making AI Image is Easy and Safe</h2>
            <p class="lead">Creating AI images is a breeze, accessible to all with ease,
                Guided by algorithms, creativity finds its release.
                With safety measures in place, guarding against misuse,
                The canvas of digital art expands, with limitless hues.
                In this realm of innovation, AI images thrive, a testament to progress' rise</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/img/blog-img-2.jpg" class="img-fluid">
        </div>
    </div>



    <!-- /END THE FEATURETTES -->

</div>

<section class="bg-four" id="featurette">
    <div class="container">
        <hr class="featurette-divider">
        <div class="row featurette align-items-center justify-content-center">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal text-white">Enabling Visual AI For Everyone</h2>
                <p class="lead text-light">Our Tools Simplify And Accelerate Workflows, Foster Creativity, And
                    Enable Others To
                    Create New Products.</p>
                <ul class="list-group  text-white">

                    <li class="list-group-item">
                        <span>Seamless integration</span>
                    </li>
                    <li class="list-group-item">
                        <span>Analyze the chats and improvize</span>
                    </li>
                    <li class="list-group-item">
                        <span>Custom-trained on your data</span>
                    </li>
                    <li class="list-group-item">
                        <span>Flexible branding options</span>
                    </li>
                </ul>

                <button class="btn btn-primary ms-3 mt-2">Get Started</button>

            </div>
            <div class="col-md-5">
                <img src="../../assets/img/falcan-img.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

</section>

