body {
  font-family: 'Helvetica Neue' !important;
  font-size: var(--font-size-md);
  // background-color:var(--bs-body-bg) !important;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-BlackItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-BlackItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-BlackItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Bold.eot');
  src: url('../src/assets/font/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Bold.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Bold.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Black.eot');
  src: url('../src/assets/font/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Black.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Black.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Heavy.eot');
  src: url('../src/assets/font/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Heavy.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Heavy.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Medium.eot');
  src: url('../src/assets/font/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Medium.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Medium.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-LightItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-LightItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-LightItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-MediumItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-MediumItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-MediumItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-HeavyItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-HeavyItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Italic.eot');
  src: url('../src/assets/font/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Italic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Italic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-BoldItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-BoldItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-BoldItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Light.eot');
  src: url('../src/assets/font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Light.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Light.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Roman.eot');
  src: url('../src/assets/font/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Roman.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Roman.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-ThinItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-ThinItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-ThinItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-UltraLightItalic.eot');
  src: url('../src/assets/font/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-UltraLightItalic.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-Thin.eot');
  src: url('../src/assets/font/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-Thin.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-Thin.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/font/HelveticaNeue-UltraLight.eot');
  src: url('../src/assets/font/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/font/HelveticaNeue-UltraLight.woff2') format('woff2'),
      url('../src/assets/font/HelveticaNeue-UltraLight.woff') format('woff'),
      url('../src/assets/font/HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


body {
    background-color: #020305;
    box-sizing: border-box;
}

:root{
    --active-bg: linear-gradient(43deg, #9b34d7, #3f34d7 15%, #871eff 31%, #2793ff 48%, #8817ff 63%, #ff00c2 81%, #fffd37);
    --bs-list-group-bg:none;
}

* {
  scrollbar-color: var(--secondary-color) var(--color-white);
    box-sizing: border-box; /* Apply border-box sizing to all elements */
  }


body{
    background-color: #020305;
    box-sizing: border-box;
}

.brand {
    background: linear-gradient(43deg, #9b34d7, #3f34d7 15%, #871eff 31%, #2793ff 48%, #8817ff 63%, #ff00c2 81%, #fffd37);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
    font-weight: 700;
}

.nav-link.active{
   border-bottom: 1px solid #0d0d0d;
background: transparent;
   background-color: transparent !important;
}

.featurette-divider {
    margin: 2rem 0;
}
.form-select{
    // background: #2e2c2c url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="%23ffffff" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"/></svg>') right 10px center/8px 10px no-repeat ;
}

.c-w-100{
    width: 100px;
}
.line-height-30{
    line-height: 30px;
}

.hero-section {
    position: relative;
    height: 85vh;
    background: black;
    /* Adjust height as needed */
    // background: linear-gradient(43deg, #9b34d7, #3f34d7 15%, #871eff 31%, #2793ff 48%, #8817ff 63%, #ff00c2 81%, #fffd37);
    /* Add your image URL here */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    position: relative;
    z-index: 1;
    text-align: left;
}

.hero-text h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust overlay color and opacity */
}

.marketing .our-services {
    margin-bottom: 1.5rem;
    text-align: center;
}

.featurette img {
    border-radius: 25px;
    max-width: 100%;
}

.bg-one {
    background: #0d0d0d;
    height: 100vh;
}

.bg-four {
    background: #0d0d0d;
}

.featurette .list-group {
    --bs-list-group-bg: none;
    border: none;
}

.featurette .list-group .list-group-item {
    border: unset;
    color: #fff;
}

.featurette .list-group .list-group-item i {

    color: greenyellow;
    font-size: 16px;
}

.ai-image {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    display: inline-block;
}

.ai-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/**Inner page*/

.header-bg{
    background-color: #0d0d0d;
    border-bottom: 1px solid #474747;
}

.wrapper {
    display: flex;
    min-height: 446px;

}


.body-content {
    flex: 1; /* Body content takes remaining space */
    padding: 20px; /* Padding inside the body content */
    /*background-color: #eaeaea;  Background color */
}
.content {
    margin-left: 300px; /* Sidebar width */
    padding: 20px;
}
.card {
    /* background-color: #ffffff; */
    border: 1px solid #474747;
    background-color: transparent;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.card-title {
    font-size: 14px;
    font-weight:500;
    margin-bottom: 10px;
}
.aspect-ratio-card {
    display: flex;
    align-items: center;
}
.aspect-ratio-card label {
    margin-right: 10px;
    font-size: 12px;
}
.aspect-ratio-option {
    width: 100px;
    height: 100px; /* You can adjust aspect ratio by adjusting height */
    background-color: #ccc;
    margin-right: 10px;
}
.generate-button {
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar-top{
    top:80px;
}

.navigation-bar .nav .nav-link{
    color: #fff;
    padding: 0 20px;
}

.navigation-bar .nav {
    width: 30%;
    align-items: end;
    justify-content: flex-end;
    box-sizing: border-box;
}

/* Styling for the boxes */

.column {
   height: 125px;
}
.box {
    position: relative;
    flex: 1; /* Each box takes equal width */
    padding: 20px; /* Padding inside each box */



}

/* Positioning for radio buttons */
.radio-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Styling for radio button labels */
.radio-buttons label {
    margin-right: 10px; /* Right margin between radio buttons */
}

/* Styling for radio buttons */
/* .radio-buttons input[type="radio"] {
    display: none;
} */

/* Styling for radio button labels */
.radio-buttons label {
    display: inline-block; /* Make labels inline */
    cursor: pointer; /* Show pointer cursor on hover */
    padding: 5px 10px; /* Padding for labels */
    border-radius: 5px; /* Rounded corners for labels */
    color: #fff;
}

.radio-buttons input[type="radio"]{
    width: 20px;
    height: 20px;
    border: 1px solid #007bff;
}
/* Styling for checked radio buttons */
.radio-buttons input[type="radio"]:checked  {
    background-color: #007bff; /* Background color when checked */
    color: #fff; /* Text color when checked */
}

/*generate container prompt area*/

.generate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.generate-container .generate-form{
    width: 100%;
    display: flex;
    padding: 15px 10px 10px 10px;
}

.generate-container .generate-form label{
    color: #fff;
}

.generate-container .generate-form .generate-textarea {
    width: 100%;
    border: 1px solid #474747;
    border-radius: 4px;
    color: #dedede;
    padding: 10px;
    font-size: 14px;
    resize: none;
    transition: height 1s ease-in-out;
    height: 70px;
    background: transparent;
}


.genrate-imge-wrapper .info-text{
    font-size: 12px;
    color: #ccc;
}
.generate-container .generate-form .generate-textarea:focus {
    outline: none;
    border-color: 1px solid #0d0d0d;
    height: 150px;
    transition: height 1s ease-in-out
}


.btn-primary{

	background-image: linear-gradient(81.02deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%)!important;
	transition: all .3s ease-in-out!important;
}

.btn-primary:hover{
    background-size: 200% auto!important;
	background-image: linear-gradient(81.02deg, #fa5560 -53.47%, #b14bf4 25.52%, #4d91ff 64.8%)!important;
	transition: all .3s ease-in-out!important;
}

.hidden {
    display: none;
  }

  .upload-container {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-icon {
    width: 50px; /* Adjust size of the icon */
    height: 50px; /* Adjust size of the icon */
    background-color: #ccc; /* Change background color */
    color: #fff; /* Change icon color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust icon size */
}


.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    justify-content: center;
    /* height: 100vh; */
    gap: 10px;
}
.image-wrapper .image-box {
    width: 49%; /* Adjust width with gap in mind */
     /*height: calc(50% - 5px); Adjust height with gap in mind */
    background-color: transparent; /* Change color as needed */
    border: 1px solid #474747; /* Change border as needed */
    box-sizing: border-box;
    padding: 5px;
    object-fit: cover;
    border-radius: 6px;
    position: relative;
}

.image-wrapper .image-box img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 6px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.image-wrapper .image-box img:hover {
  cursor: pointer;
    // opacity: 0.8; /* Adjust opacity as desired */
    transform: scale(1.4);
    z-index: 999;
    border: 2px solid white;
}

.select-for-version .form-select{
    border: 1px solid #474747;
    background-color: transparent;
    color:#555 ;
    font-size: 14px;
    font-weight: 400;
    width: 80px;
}

.select-for-version .form-label, .select-for-version .form-check-label{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

 .list-group {
    --bs-list-group-bg: none;
    border: none;
    --bs-list-group-bg:none;
}
 .list-group .list-group-item {
    border: unset;
    color: #fff;
    margin-bottom: 0px;
    padding: auto;
}

.list-group .list-group-item::before{
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    color: greenyellow;
    padding-right: 7px;
}

.our-services p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 400;

}

.pricing-card-title{
    font-size: 32px;
}

.user-inputs p{
    font-size: 14px;
}

.form-select option{
    color: #acacac;
}

.disabled {
    /* Define the styles for disabled section */
    opacity: 0.5; /* Example: reduce opacity */
    pointer-events: none; /* Example: disable pointer events */
}

.album-gallery .card-image-box{
 position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.album-gallery .card-image-box img{
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    width: 100%;
}

.album-gallery .card-image-box img:hover{
    opacity: 0.8; /* Adjust opacity as desired */

}

.radio-group{
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;

}

.radio-group input[type="radio"]{
    width: 20px;
    height: 20px;

}

.radio-group label{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;

}

.download-image-container .card{
    margin-bottom: 0;
}

.download-image-container .image-box {
    width: calc(100%); /* Adjust width with gap in mind */
    //  height: 35vh;
    background-color: transparent; /* Change color as needed */
    border: 1px solid transparent; /* Change border as needed */
    box-sizing: border-box;
    padding: 0px;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
}

.download-image-container .image-box img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 6px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.download-image-container .image-box img:hover {
  transform: scale(1.4);
  cursor: pointer;

  border: 2px solid white;
    // opacity: 0.8; /* Adjust opacity as desired */
}
.image-box:hover{
  z-index: 9999;
}

.download-image-container .download-image-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 49.3%;
}

#modal-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px;
    width: 500px;
    max-width: 90%; /* Adjust maximum width as needed */
    height: 400px;
    max-height: 90vh; /* Adjust maximum height as needed */
    overflow: visible; /* Enable scrolling if content exceeds modal dimensions */
}
#modal-content img{
        max-width: 100%;
        object-fit: cover;
        height: 100%;

}

#modal-content .img-box{
padding: 15px;
height: 100%;
}

.close {
    position: absolute;
    top: -26px;
    right: -23px;
    cursor: pointer;
    font-size: 24px;
    background: red;
    z-index: 9;
    /* padding: 10px; */
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 0;
}

.zoomable-image {
    max-width: 50%;
    max-height: 50%;
    cursor: pointer;
}

p-button{
  button{
    border-radius: 6px;
    padding: 8px 15px;
    margin-top: 10px;
  }
}

app-pricing{
  .wrapper{
    width: 100vw;

  }
}

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", sans-serif !important; }

app-landing-page{
  width: 100vw;

  section{
    width: 100vw;
  }
}

.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2{
  font-family:
  "Helvetica Neue",
  sans-serif !important;
}

app-generate{
  width: 100vw;
}

app-landing-page2{
  width: 100vw;
  background-color: white;

  h3{
    color: black !important;
  }
}

.light_theme{
  background: white;

  .sidebar{
    --tw-shadow: 0px 1px 10px rgba(5,25,51,.12);
    border-right: unset !important;
    margin: 30px;
    border-radius: 12px;
    --tw-shadow-colored: 0px 1px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
    margin: 19px;
    background: #fbfbfb;
  }

  .form-select{
    // background: unset !important;
  }
}




.p-dialog-header{
  padding-bottom: 8px;
}

app-dashboard{
  width: 100vw;
}

app-profile{
  width: 100vw;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.head1{
  font-family: "Pacifico", sans-serif !important;
    margin-bottom: 28px;
}

.p-dialog-header, .p-dialog-content{
  // background: #252525;
  img{
    width: 28px;
  }
  background: #252525;
  color: white;
  border-bottom: unset;

}

.p-dialog-header{
  font-size: 22px;

  font-weight: 600;
}
.yesBtn{
  button{
    border: unset;
    background: linear-gradient(
      81.02deg,
      #fa5560 -23.47%,
      #b14bf4 45.52%,
      #4d91ff 114.8%) !important;
  }

  button:hover{
    border: unset;
    box-shadow: unset;
    background: linear-gradient(
      81.02deg,
      #4d91ff -23.47%,
      #b14bf4 45.52%,
      #fa5560 114.8%) !important;
  }
}

.cancelBtn{
  button{
    background: #6f6f6f;
    box-shadow: unset;
    color: white;
    border: none;
  }
}

.p-relative{
  position: relative;
}

.row-g-20{
  row-gap: 20px;
}
